body {
    background: hsl(218, 28%, 13%);
    color: #fff;
    Font-size: 14px;
}
header .logo{
    padding: 40px 25px;
    float: left;;
}
header a {
    padding: 40px 25px;
    float: right;
}
header a{
    color: hsl(0, 6%, 90%);
    text-decoration: none;
    margin: 15px;
}
.card-only{
    margin:auto;
    width: 50%;
    padding: 40px 0;
    text-align: center;
}
.card-only img{
    height: 25rem;
    object-fit: contain;
}
.first-p{
    font-size: 2rem;
    font-weight: bold;
}
.second-p{
    font-size: 1.5rem;
    font-weight: 100;
    padding: 0 20px;
    margin: 30px;
    color: rgb(209, 203, 203);
}
button{
    background-color: hsl(176, 68%, 64%);
    border: none;
    color: hsl(0, 0%, 100%);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    width: 180px;
    border-radius: 20px;
}
.card-container{
    display: flex;
    flex-direction: row;
    row-gap: 50px;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
    align-content: space-between;
}
.card-content{
    width: 50%;
    justify-content: center;
}
.logo1{
    align-items: center;
}
.p-tag{
    width: auto;
}
.para{

}
.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
}
.section1{
    margin: 30px;
    margin-left:  50px;
}
.section2{
   margin-top: 200px;
}
.section2 span{
    color: hsl(176, 68%, 64%);
    border-bottom: 1px solid hsl(176, 68%, 64%);
}
.testimonials{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.blog1{
    background-color: hsl(219, 30%, 18%);
}
.user{
    display: flex;
    margin-top: auto;
}
.user img{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin-right: 10px;
}
.user-info h5{
    margin: 0;
}
.user-info span{
    color: rgb(209, 203, 203);
}